html{}

.begin {
    font-size: medium;
    font-style: italic;
    padding: 5px;
}
.text {
    background-color: antiquewhite;
    text-align: left;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 50% 75%;
    margin-bottom: 1500px;
}
.footer {
    color:rgb(37, 47, 78);
    text-align: center;
    height: 20px;
    background-color: rgb(230, 219, 204);
    margin-top: 1000px;
    padding: 4px;
}
.home:hover {
    color:red;
    margin-left: 10px;
    transition: 0.4s ease-in-out;
}
.left {
    display: grid;
    position: sticky;
    box-sizing: border-box;
    align-content: center;
    height: 50vh;
}
.content {
    background-color: aquamarine;
    top: 0;
    display: grid;
    position: sticky;
    grid-template-columns: 25% 75%;
    height: 100vh;
    box-sizing: border-box;
}
.right {
    background-color: beige;
}
.right li {
    margin-bottom: 25px;
}
#section {
    padding: 5% 5% 5% 5%;
}
.CV {
    margin-top: 0cm;
    background-color: antiquewhite;
    text-align: center;
    position: sticky;
}


